<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	
	<appSettings>
		<add key="A_threshold" value="5"/> <!-- kroz testiranje mozemo da menjamo ovo -->
		<add key="W_threshold" value="7"/>
		<add key="Deviation" value="0.25"/>
		<add key="MaxRead" value="100"/>
		<add key="ReportsDirectory" value="reports"/>
		<add key ="MeasurementsFile" value="measurements_session.csv"/>
		<add key ="RejectsFile" value="rejects.csv"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="Drone_Server.DroneService">
				
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4002"/>
					</baseAddresses>
				</host>

				<endpoint
				  address="DroneService"
				  binding="netTcpBinding"
				  bindingConfiguration="DroneTcp"
				  contract="Common.IDroneService"/>

			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="DroneTcp"
						 transferMode="Streamed"
						 maxBufferSize="65536"
						 maxReceivedMessageSize="10485760">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>

	</system.serviceModel>
</configuration>